.box{
    text-align: left; 
}

.imgbox {
  min-height: 300px;
  width: 100%;
  position: relative;
  border-radius: 8px;  
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;  */  
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; 
  overflow: hidden; 
}

.proimg {
  width: 100%;
  height: 300px;  
  object-fit: cover;    
} 

.pricebox{
    display: flex;  
    align-items: center; 
    gap: 20px; 
    margin-left: 3px; 
} 

.pricebox h2{
    font-size: x-large;   
    font-weight: 700; 
}

.pricebox p{
    text-decoration: line-through; 
}

.delevery{
    display: flex;  
    font-size: 20px; 
    align-items: center;  
    gap: 2px; 
    font-weight: 500; 
    margin-left: 3px;  
} 
 
.box h3{
    margin-left: 3px ;
}


