.top {
  display: flex;
  gap: 20px; 
  padding: 20px;  
  width: 100%; 
  margin: auto; 
}

.top > div:nth-child(1) {
  flex: 3; 
  position: relative;  
}

.top > div:nth-child(2) {
  flex: 7;
} 

.appdata{
  width: 100%; 
}

/* part 1 */

.box {
  position: relative;
  width: 100%;
  height: 600px;
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden; 
} 

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 600px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #0049e8,
    #0049e8,
    #0049e8
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 600px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #0049e8,
    #0049e8,
    #0049e8 
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.border {
  position: absolute;
  top: 0;
  inset: 0;
}

.border::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 600px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #f00050,
    #f00050,
    #f00050
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}

.border::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 600px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #f00050,
    #f00050,
    #f00050
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}

.box form {
  position: absolute;
  inset: 4px;
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.box form input {
  margin: 8px auto;
  width: 100%;
  background-color: unset;
  border: 1.5px solid #11efff;
  padding: 6px;
  color: #000000;
  border-radius: 3px;
}

.btn {
  border: none;
  outline: none;
  background-color: #67d4f8;
  color: white;
  font-size: large;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
} 


@media only screen and (min-width:100px) and (max-width: 880px) {
  .top{
    display: grid;  
  }
}



